<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:form="http://www.w3.org/1999/xhtml">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Show resume</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<!-- integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	 crossorigin="anonymous"
	-->


<!-- Latest compiled and minified JavaScript -->
<!--
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    -->

<style>
.subheader {
	font-size: 26px;
}

.submitbutton {
	float: right;
}

ul.itemlist {
	list-style-type: none;
}

label.field-name {
	text-align: left;
	width: 100px;
	float: left;
	font-weight: bold;
}

label.field-value {
	text-align: left;
	width: 200px;
	float: left;
	font-weight: normal;
}

.section {
	clear: both;
	padding: 5px;
}

.section p {
	clear: both;
}

.section.content {
	margin-left: 30px;
}

.section.content td {
	width: 150px
}

.backlink {
	float: left;
	width: 100px;
}

.panel-heading .title {
	float: right;
}
</style>

</head>
<body>


	<div title=MAIN_CONTAINER class="container h-100">
		<div title=MAIN_ROW class="row">
			<div class="col-md-6 col-md-offset-3"></div>
			<div class="panel panel-default"><a href="/resumes" >&lt;&lt; Search</a>
				<div class="panel-heading title" th:object="${resume}"
					th:text="*{'Resume for ' + person.firstName + ' ' + person.lastName}">
					Resume for N N 
				</div>
				<div class="panel-body">
					<th:block th:object="${resume}">
						<input type="hidden" th:field="*{id}" />

						<div class="section" id="Contact_Section"
							th:object="${resume.person.contact}">

							<label class="subheader">Contact</label>
							<div class="section content">
								<p>
									<label class="field-name">Name: </label> <label
										class="field-value"
										th:text="${resume.person.firstName + ' ' + resume.person.lastName}">name
										namesson</label>
								</p>

								<p>
									<label class="field-name">Adress: </label> <label
										class="field-value" th:text="${resume.person.contact.adress}">adress
										here</label>
								</p>


								<p>
									<label class="field-name">Phone: </label> <label
										class="field-value" th:text="${resume.person.contact.phone}">123-3333</label>
								</p>
							</div>
						</div>


						<div class="section" id="Presentation_Section"
							th:object="${resume.presentation}">

							<label class="subheader">Presentation</label>
							<div class="section content">

								<label th:text="*{shortDescription}"></label>
								<p th:text="*{longDescription}" />


							</div>
						</div>


						<div class="section" id="Assignment_Section">

							<label class="subheader">Assignments</label>
							<table class="section content">
								<thead>
									<tr>
										<td><label>Time period</label></td>
										<td><label>Company</label></td>
										<td><label>Title</label></td>
										<td><label>Description</label></td>
									</tr>
								</thead>
								<tr th:each="assignment, iterStat : *{assignments}">
									<td><label  class="field-value" th:text="${assignment.fromYear + ' - '+  
										 assignment.toYear}"></label></td>
									<td><label class="field-value" th:text="${assignment.employer}"></label></td>
									<td><label class="field-value" th:text="${assignment.shortDescription}"></label></td>
									<td><label class="field-value" th:text="${assignment.longDescription}"></label></td>

								</tr>

							</table>
						</div>

						<div class="section" id="Education_Section">

							<label class="subheader">Education</label>
							<table class="section content">
								<thead>
									<tr>
										<td><label>Time period</label></td>
										<td><label>School</label></td>
										<td><label>Description</label></td>
									</tr>
								</thead>
								<tr th:each="edu, iterStat : *{educations}">
									<td><label class="field-value" th:text="${edu.fromYear + ' - ' + edu.toYear}"></label></td>
									<td><label class="field-value">Univ. corp.</label>
									</td>

									<td><label class="field-value" th:text="${edu.description}"></label></td>
								</tr>

							</table>

						</div>
						<div class="content">
							<label class="subheader">Skills</label>

							<table class="section content">
								<thead>
									<tr>
										<td><label>Skill</label></td>
										<td><label>Level</label></td>
									</tr>
								</thead>
								<tr th:each="skill : *{skills}">
									<td><label class="field-value" th:text="${skill.description}"></label></td>
									<td><label class="field-value" th:text="${skill.grade}"></label>
									</td>
								</tr>
							</table>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>


</body>